<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AlarmZeng.zhishi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.ZhiShiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <activity
            android:name=".activity.NewsContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <activity
            android:name=".activity.CollectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <activity
            android:name=".activity.AboutMeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <provider
            android:name=".activity.provider.CollectionProvider"
            android:authorities="com.AlarmZeng.zhishi.provider"
            android:exported="true">

        </provider>

    </application>

</manifest>